Mayflower/Service References/Alphared.Module.BAWebService/BritishAirwaysManager4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BritishAirways.OrderRetrieveRS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BritishAirways.OrderRetrieveRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderViewRS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBody">
        <xs:sequence>
          <xs:element minOccurs="0" name="AltLangID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Document" nillable="true" type="tns:Document" />
          <xs:element minOccurs="0" name="Party" nillable="true" type="tns:Party" />
          <xs:element minOccurs="0" name="PrimaryLangID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Response" nillable="true" type="tns:Response" />
          <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Xmlns" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderViewRS" nillable="true" type="tns:OrderViewRS" />
  <xs:complexType name="ResponseBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:Errors" />
      <xs:element minOccurs="0" name="ResponseTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBody" nillable="true" type="tns:ResponseBody" />
  <xs:complexType name="Errors">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Errors" nillable="true" type="tns:Errors" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Sender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Party" nillable="true" type="tns:Party" />
  <xs:complexType name="Sender">
    <xs:sequence>
      <xs:element minOccurs="0" name="TravelAgencySender" nillable="true" type="tns:TravelAgencySender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sender" nillable="true" type="tns:Sender" />
  <xs:complexType name="TravelAgencySender">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:Contacts" />
      <xs:element minOccurs="0" name="OtherIDs" nillable="true" type="tns:OtherIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelAgencySender" nillable="true" type="tns:TravelAgencySender" />
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:ArrayOfContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacts" nillable="true" type="tns:Contacts" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressContact" nillable="true" type="tns:AddressContact" />
      <xs:element minOccurs="0" name="EmailContact" nillable="true" type="tns:EmailContact" />
      <xs:element minOccurs="0" name="PhoneContact" nillable="true" type="tns:PhoneContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="AddressContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressContact" nillable="true" type="tns:AddressContact" />
  <xs:complexType name="EmailContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailContact" nillable="true" type="tns:EmailContact" />
  <xs:complexType name="PhoneContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneContact" nillable="true" type="tns:PhoneContact" />
  <xs:complexType name="OtherIDs">
    <xs:sequence>
      <xs:element minOccurs="0" name="OtherID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherIDs" nillable="true" type="tns:OtherIDs" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataLists" nillable="true" type="tns:DataLists" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="Passengers" nillable="true" type="tns:Passengers" />
      <xs:element minOccurs="0" name="TicketDocInfos" nillable="true" type="tns:TicketDocInfos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="DataLists">
    <xs:sequence>
      <xs:element minOccurs="0" name="MediaList" nillable="true" type="tns:MediaList" />
      <xs:element minOccurs="0" name="ServiceList" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataLists" nillable="true" type="tns:DataLists" />
  <xs:complexType name="MediaList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Media" nillable="true" type="tns:Media" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaList" nillable="true" type="tns:MediaList" />
  <xs:complexType name="Media">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descriptions" nillable="true" type="tns:Descriptions" />
      <xs:element minOccurs="0" name="ListKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Media" nillable="true" type="tns:Media" />
  <xs:complexType name="Descriptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="tns:Description" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Descriptions" nillable="true" type="tns:Descriptions" />
  <xs:complexType name="Description">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Description" nillable="true" type="tns:Description" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="tns:OrderID" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:OrderItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="OrderID">
    <xs:sequence>
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderID" nillable="true" type="tns:OrderID" />
  <xs:complexType name="OrderItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderItem" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItems" nillable="true" type="tns:OrderItems" />
  <xs:complexType name="OrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightItem" nillable="true" type="tns:FlightItem" />
      <xs:element minOccurs="0" name="OrderItemID" nillable="true" type="tns:OrderItemID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
  <xs:complexType name="FlightItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareDetail" nillable="true" type="tns:FareDetail" />
      <xs:element minOccurs="0" name="OriginDestination" nillable="true" type="tns:OriginDestination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightItem" nillable="true" type="tns:FlightItem" />
  <xs:complexType name="FareDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareComponent" nillable="true" type="tns:FareComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareDetail" nillable="true" type="tns:FareDetail" />
  <xs:complexType name="FareComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareRules" nillable="true" type="tns:FareRules" />
      <xs:element minOccurs="0" name="Refs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareComponent" nillable="true" type="tns:FareComponent" />
  <xs:complexType name="FareRules">
    <xs:sequence>
      <xs:element minOccurs="0" name="Penalty" nillable="true" type="tns:Penalty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareRules" nillable="true" type="tns:FareRules" />
  <xs:complexType name="Penalty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Penalty" nillable="true" type="tns:Penalty" />
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="tns:ArrayOfDetail" />
      <xs:element minOccurs="0" name="FlightDuration" nillable="true" type="tns:FlightDuration" />
      <xs:element minOccurs="0" name="FlightSegmentType" nillable="true" type="tns:FlightSegmentType" />
      <xs:element minOccurs="0" name="Stops" nillable="true" type="tns:Stops" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Details" nillable="true" type="tns:Details" />
  <xs:complexType name="ArrayOfDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail" nillable="true" type="tns:Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetail" nillable="true" type="tns:ArrayOfDetail" />
  <xs:complexType name="Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amounts" nillable="true" type="tns:Amounts" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detail" nillable="true" type="tns:Detail" />
  <xs:complexType name="Amounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="tns:Amount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amounts" nillable="true" type="tns:Amounts" />
  <xs:complexType name="Amount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicableFeeRemarks" nillable="true" type="tns:ApplicableFeeRemarks" />
      <xs:element minOccurs="0" name="CurrencyAmountValue" nillable="true" type="tns:CurrencyAmountValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amount" nillable="true" type="tns:Amount" />
  <xs:complexType name="ApplicableFeeRemarks">
    <xs:sequence>
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicableFeeRemarks" nillable="true" type="tns:ApplicableFeeRemarks" />
  <xs:complexType name="CurrencyAmountValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyAmountValue" nillable="true" type="tns:CurrencyAmountValue" />
  <xs:complexType name="FlightDuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightDuration" nillable="true" type="tns:FlightDuration" />
  <xs:complexType name="FlightSegmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightSegmentType" nillable="true" type="tns:FlightSegmentType" />
  <xs:complexType name="Stops">
    <xs:sequence>
      <xs:element minOccurs="0" name="StopQuantity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stops" nillable="true" type="tns:Stops" />
  <xs:complexType name="OriginDestination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginDestination" nillable="true" type="tns:OriginDestination" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="tns:Arrival" />
      <xs:element minOccurs="0" name="ClassOfService" nillable="true" type="tns:ClassOfService" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="tns:Departure" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:Details" />
      <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:Equipment" />
      <xs:element minOccurs="0" name="MarketingCarrier" nillable="true" type="tns:MarketingCarrier" />
      <xs:element minOccurs="0" name="OperatingCarrier" nillable="true" type="tns:OperatingCarrier" />
      <xs:element minOccurs="0" name="SegmentKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="Arrival">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="tns:Terminal" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Arrival" nillable="true" type="tns:Arrival" />
  <xs:complexType name="Terminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminal" nillable="true" type="tns:Terminal" />
  <xs:complexType name="ClassOfService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketingName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassOfService" nillable="true" type="tns:ClassOfService" />
  <xs:complexType name="Departure">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="tns:Terminal" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departure" nillable="true" type="tns:Departure" />
  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AircraftCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="MarketingCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirlineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketingCarrier" nillable="true" type="tns:MarketingCarrier" />
  <xs:complexType name="OperatingCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirlineID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatingCarrier" nillable="true" type="tns:OperatingCarrier" />
  <xs:complexType name="OrderItemID">
    <xs:sequence>
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemID" nillable="true" type="tns:OrderItemID" />
  <xs:complexType name="Passengers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Passenger" nillable="true" type="tns:Passenger" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Passengers" nillable="true" type="tns:Passengers" />
  <xs:complexType name="Passenger">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="tns:Age" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:Contacts" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="tns:Name" />
      <xs:element minOccurs="0" name="ObjectKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Passenger" nillable="true" type="tns:Passenger" />
  <xs:complexType name="Age">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Age" nillable="true" type="tns:Age" />
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="Given" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
  <xs:complexType name="TicketDocInfos">
    <xs:sequence>
      <xs:element minOccurs="0" name="TicketDocInfo" nillable="true" type="tns:TicketDocInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketDocInfos" nillable="true" type="tns:TicketDocInfos" />
  <xs:complexType name="TicketDocInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PassengerReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketDocument" nillable="true" type="tns:TicketDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketDocInfo" nillable="true" type="tns:TicketDocInfo" />
  <xs:complexType name="TicketDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="CouponInfo" nillable="true" type="tns:CouponInfo" />
      <xs:element minOccurs="0" name="DateOfIssue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberofBooklets" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketDocNbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketDocument" nillable="true" type="tns:TicketDocument" />
  <xs:complexType name="CouponInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddlBaggageInfo" nillable="true" type="tns:AddlBaggageInfo" />
      <xs:element minOccurs="0" name="CouponNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FareBasisCode" nillable="true" type="tns:FareBasisCode" />
      <xs:element minOccurs="0" name="SoldAirlineInfo" nillable="true" type="tns:SoldAirlineInfo" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponInfo" nillable="true" type="tns:CouponInfo" />
  <xs:complexType name="AddlBaggageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowableBag" nillable="true" type="tns:AllowableBag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddlBaggageInfo" nillable="true" type="tns:AddlBaggageInfo" />
  <xs:complexType name="AllowableBag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllowableBag" nillable="true" type="tns:AllowableBag" />
  <xs:complexType name="FareBasisCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareBasisCode" nillable="true" type="tns:FareBasisCode" />
  <xs:complexType name="SoldAirlineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="tns:Arrival" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="tns:Departure" />
      <xs:element minOccurs="0" name="DepartureDateTime" nillable="true" type="tns:DepartureDateTime" />
      <xs:element minOccurs="0" name="MarketingCarrier" nillable="true" type="tns:MarketingCarrier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoldAirlineInfo" nillable="true" type="tns:SoldAirlineInfo" />
  <xs:complexType name="DepartureDateTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartureDateTime" nillable="true" type="tns:DepartureDateTime" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
</xs:schema>