Mayflower/Service References/Alphared.Module.BAWebService/BritishAirwaysManager3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BritishAirways.OrderRetrieveRQ" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BritishAirways.OrderRetrieveRQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderRetrieveRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query" nillable="true" type="tns:Query" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderRetrieveRQ" nillable="true" type="tns:OrderRetrieveRQ" />
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filters" nillable="true" type="tns:Filters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Query" nillable="true" type="tns:Query" />
  <xs:complexType name="Filters">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filters" nillable="true" type="tns:Filters" />
</xs:schema>