Mayflower/Service References/TCGLookupServiceReference/LookupService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://23.97.52.180/TCG_Malindo/LookupService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://23.97.52.180/TCG_Malindo/LookupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TCG.Entities" />
  <xs:element name="AllowCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="buyCurrency" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="AllowCurrencyResult" nillable="true" type="q2:AllowCurrencyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="inputs" nillable="true" type="q3:ArrayOfInputDetail" />
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetSSRDetailsResult" nillable="true" type="q4:GetSSRDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departureStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrivalStation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cultureCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetRouteListResult" nillable="true" type="q5:GetRouteListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetAllStationsResult" nillable="true" type="q6:GetRouteListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalRateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalRateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetExternalRateListResult" nillable="true" type="q7:GetExternalRateListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeType" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetCodeNameResult" nillable="true" type="q8:GetCodeNameResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="inputDetails" nillable="true" type="q9:ArrayOfInputDetail" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetFeeDetailsResult" nillable="true" type="q10:GetFeeDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objGetPaymentMethod" nillable="true" type="q11:GetPaymentMethodRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetPaymentMethodResult" nillable="true" type="q12:GetPaymentMethodResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetCreditBalanceResult" nillable="true" type="q13:GetCreditBalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objPackageSummaryRequest" nillable="true" type="q14:GetPackageSummaryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetPackageSummaryResult" nillable="true" type="q15:GetPackageSummaryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>