Mayflower/Service References/TCGFareServiceReference/Fare1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fare" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://23.97.52.180/TCG_Malindo/FareService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://23.97.52.180/TCG_Malindo/FareService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://23.97.52.180/TCG_Malindo/FareService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCG.Entities" />
      <xsd:import schemaLocation="http://23.97.52.180/TCG_Malindo/FareService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://23.97.52.180/TCG_Malindo/FareService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFareService_GetAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailability" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetAvailabilityWithTaxes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailabilityWithTaxes" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetAvailabilityWithTaxes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailabilityWithTaxesResponse" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetFareRule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFareRule" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetFareRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFareRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetItineraryPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryPrice" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetItineraryPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetLowFareAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLowFareAvailability" />
  </wsdl:message>
  <wsdl:message name="IFareService_GetLowFareAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLowFareAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IFareService_SetAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAvailability" />
  </wsdl:message>
  <wsdl:message name="IFareService_SetAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAvailabilityResponse" />
  </wsdl:message>
  <wsdl:portType name="IFareService">
    <wsdl:operation name="GetAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IFareService/GetAvailability" message="tns:IFareService_GetAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFareService/GetAvailabilityResponse" message="tns:IFareService_GetAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailabilityWithTaxes">
      <wsdl:input wsaw:Action="http://tempuri.org/IFareService/GetAvailabilityWithTaxes" message="tns:IFareService_GetAvailabilityWithTaxes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFareService/GetAvailabilityWithTaxesResponse" message="tns:IFareService_GetAvailabilityWithTaxes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFareRule">
      <wsdl:input wsaw:Action="http://tempuri.org/IFareService/GetFareRule" message="tns:IFareService_GetFareRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFareService/GetFareRuleResponse" message="tns:IFareService_GetFareRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItineraryPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IFareService/GetItineraryPrice" message="tns:IFareService_GetItineraryPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFareService/GetItineraryPriceResponse" message="tns:IFareService_GetItineraryPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLowFareAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IFareService/GetLowFareAvailability" message="tns:IFareService_GetLowFareAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFareService/GetLowFareAvailabilityResponse" message="tns:IFareService_GetLowFareAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IFareService/SetAvailability" message="tns:IFareService_SetAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFareService/SetAvailabilityResponse" message="tns:IFareService_SetAvailability_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpFareService" type="tns:IFareService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailability">
      <soap:operation soapAction="http://tempuri.org/IFareService/GetAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailabilityWithTaxes">
      <soap:operation soapAction="http://tempuri.org/IFareService/GetAvailabilityWithTaxes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFareRule">
      <soap:operation soapAction="http://tempuri.org/IFareService/GetFareRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItineraryPrice">
      <soap:operation soapAction="http://tempuri.org/IFareService/GetItineraryPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLowFareAvailability">
      <soap:operation soapAction="http://tempuri.org/IFareService/GetLowFareAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAvailability">
      <soap:operation soapAction="http://tempuri.org/IFareService/SetAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fare">
    <wsdl:port name="basicHttpFareService" binding="tns:basicHttpFareService">
      <soap:address location="http://23.97.52.180/TCG_Malindo/FareService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>