Mayflower/Service References/TCGBookServiceReference/BookingService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://23.97.52.180/TCG_Malindo/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCG.Entities" />
  <xs:element name="AddBookingComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objAddBookingCommentsRequestData" nillable="true" type="q1:AddBookingCommentsRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookingCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="AddBookingCommentResult" nillable="true" type="q2:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInProcessPaymentToBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objPayment" nillable="true" type="q3:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInProcessPaymentToBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="AddInProcessPaymentToBookingResult" nillable="true" type="q4:AddPaymentToBookingResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentToBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objAddPaymentToBookingRequestData" nillable="true" type="q5:AddPaymentToBookingRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentToBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="AddPaymentToBookingResult" nillable="true" type="q6:AddPaymentToBookingResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objSeatSellRequest" nillable="true" type="q7:SeatSellRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="AssignSeatsResult" nillable="true" type="q8:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objCancelRequestData" nillable="true" type="q9:CancelRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="CancelResult" nillable="true" type="q10:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelInProcessPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelInProcessPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Clear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Confirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objCommitRequestData" nillable="true" type="q11:CommitRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="ConfirmResult" nillable="true" type="q12:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareOverride">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objFareOverrideRequestData" nillable="true" type="q13:FareOverrideRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareOverrideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="FareOverrideResult" nillable="true" type="q14:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objFindBookingRequestData" nillable="true" type="q15:FindBookingRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="FindBookingResult" nillable="true" type="q16:FindBookingResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objGetBookingRequestData" nillable="true" type="q17:GetBookingRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetBookingResult" nillable="true" type="q18:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingFromState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingFromStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetBookingFromStateResult" nillable="true" type="q19:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objEquipmentListRequest" nillable="true" type="q20:EquipmentListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetEquipmentPropertiesResult" nillable="true" type="q21:EquipmentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentFeePrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objPaymentFeePriceRequest" nillable="true" type="q22:PaymentFeePriceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentFeePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetPaymentFeePriceResult" nillable="true" type="q23:PaymentFeePriceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objSeatAvailabilityRequest" nillable="true" type="q24:SeatAvailabilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetSeatAvailabilityResult" nillable="true" type="q25:SeatAvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSRAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objSSRAvailabilityRequest" nillable="true" type="q26:SSRAvailabilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSRAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetSSRAvailabilityResult" nillable="true" type="q27:SSRAvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSRAvailabilityForBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objSSRAvailabilityRequest" nillable="true" type="q28:SSRAvailabilityForBookingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSRAvailabilityForBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="GetSSRAvailabilityForBookingResult" nillable="true" type="q29:SSRAvailabilityForBookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objSellRequestData" nillable="true" type="q30:SellRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="SellResult" nillable="true" type="q31:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRecordLocator" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendItineraryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objSeatSellRequest" nillable="true" type="q32:SeatSellRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="UnassignSeatsResult" nillable="true" type="q33:BookingUpdateResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objBookFlightRequest" nillable="true" type="q34:BookFlightRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="BookFlightResult" nillable="true" type="q35:BookFlightResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reserve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objReserveBookingRequestData" nillable="true" type="q36:ReserveBookingRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="ReserveResult" nillable="true" type="q37:ReserveBookingResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="objBookingMakeTicketingRequest" nillable="true" type="q38:BookingMakeTicketingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PendingConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TCG.Entities" minOccurs="0" name="PendingConfirmationResult" nillable="true" type="q39:BookingMakeTicketingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>